<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">PonyRacer</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar" class="navbar-collapse" [class.collapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="user" routerLink="/races">Races</a>
      </li>
    </ul>
    <div class="nav navbar-nav">
      <a class="nav-item nav-link mr-2" *ngIf="user" routerLink="/users/money/history">
        {{ user.login }}
        <span class="fa fa-star"></span>
        {{ user.money }}
      </a>
      <a (click)="logout($event)" class="nav-item nav-link" href="#" *ngIf="user">
        <span class="fa fa-power-off"></span>
      </a>
    </div>
  </div>
</nav>
